*{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}


*{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
  /* position: fixed; */
  
}
.elements{
  background-color: rgb(137, 137, 154);
  /* background: url(./assets/image.png); */
  background-size: cover;
}

canvas{
  position: fixed;
  z-index: 1;
}
h1{
  position:absolute;
  top: 85%;
  text-align: center;
  color: white;
}
.frosh{
background: url(./assets/image.png);
background-size:contain;
position: absolute;
z-index: 0;
bottom: 0%;
width: 100%;
height: 100%;
overflow: hidden;
display: flex;
left: 1%;
align-items: center;
justify-content: center;
}

/* div.root{
 height: 200vh; 
} */
 /* div.root{
  
 } */

